<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Модели Django</title>
</head>
<body class="container">
  <form method="POST">
    {%csrf_token%}
      <p>
          <label>Ввести имя</label><br>
          <input type="text" name="name" value="{{person.age}}">
      </p>
      <p>
          <label>Введите возраст</label><br>
          <input type="number" name="age" value="{{person.age}}">
      </p>
      <input type="submit" value="Сохранить">
  </form>

</body>
</html>