{%extends 'firstapp/base.html'%}  <!--взять из файла base.html-->
{%block title%}about{%endblock title%}  <!--блоки шаблонов-->
{%block header%}Сведения о компании{%endblock header%}
{%block content%}
<p>'Интеллектуальные программные системы'</p>  <!--тег h1 заменяется в блоке на тег p-->
<p>Связка шаблонов about.html и base.html<p>
<p>Пример выводов даты и времени</p>
<p>Год в виде четырех символов-{%now 'Y'%}</p>
<p>Год в виде последних двух цифр-{%now 'y'%}</p>
<p>Полное название месяца-{%now 'F'%}</p>
<p>Сокращенное название месяца-{%now 'M'%}</p>
<p>Номер месяца, две цифры-{%now 'm'%}</p>
<p>Аббревиатура месяца-{%now 'N'%}</p>
<p>Номер месяца, одна цифра-{%now 'n'%}</p>
<p>День месяца-{%now 'j'%}</p>
<p>День недели-{%now 'l'%}</p>
<p>Часы (0-12)-{%now 'h'%}</p>
<p>Часы (0-24)-{%now 'H'%}</p>
<p>Минуты (0-59)-{%now 'i'%}</p>
<p>Секунды (0-59)-{%now 's'%}</p>
<p>Время  (час:мин:сек)-{%now 'H:i:s'%}</p>
<p>дата (день/месяц/год)-{%now 'j/m/y'%}</p>
{%endblock content%}

