<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма Django</title>
    <style>
        .myfield{
                border:2px solid #coc;
                border-radius:5px;
                height:25px;
                width:200px;
                margin: 10px 10px 10px 0;
        }
    </style>
</head>
<body class="container">
    <h2>стилизация полей</h2>
        <form method="POST" novalidate>
            {%csrf_token%}
            <div>
                {%for field in form%}
                <div class="row">
                    {{field.label_tag}}
                    <div class="col-md-10">{{field}}</div>
                </div>
                {%endfor%}
            </div>
<!--            <div class="form-group">-->
<!--                {%for field in form%}-->
<!--                    <div>{{field.label_tag}}</div>-->
<!--                    <div>{{field}}</div>-->
<!--                    {%if field.error%}-->
<!--                        {%for error in field.errors%}-->
<!--                        <div class="alert alert-danger">-->
<!--                            {{error}}-->
<!--                        </div>-->
<!--                        {%endfor%}-->
<!--                    {%endif%}-->
<!--                {%endfor%}-->
<!--            </div>-->
<!--                <table>-->
<!--                    {{form}}-->
<!--                 </table>-->
        <input type="submit" value="Отправить">
        </form>
    <!--    <h2>Форма как список</h2>-->
    <!--    <form method="POST">-->
    <!--        {%csrf_token%}-->
    <!--    <ul>{{form.as_ul}}</ul>-->
    <!--    <input type="submit" value="Отправить">-->
    <!--    </form>-->
    <!--    <h2>Форма как параграф</h2>-->
    <!--    <form method="POST">-->
    <!--        {%csrf_token%}-->
    <!--    <div>{{form.as_table}}</div>-->
    <!--    <input type="submit" value="Отправить">-->
<!--        </form>-->
</body>
</html>